@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Nunito:wght@200&family=Poiret+One&display=swap');

:root {
    --button-width: 175px;
    --button-height: 60px;

    --bg-color: rgb(224, 255, 224);
    --main-bg-color: rgb(144, 244, 144);
    --main-color: rgb(95, 206, 95);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-family: "Nunito";
}

.container {
    position: relative;
    background-color: var(--main-bg-color);
    display: block;
    margin-top: 50px;
    width: 320px;
    height: 480px;
    text-align: center;
    border-radius: 8px;
}

/*GLOBAL BUTTON SETTINGS*/
.btn-List {
    text-align: center;
    bottom: 400px;
}

button {
    position: relative;
    width: var(--button-width);
    height: var(--button-height);
    text-align: center;
    margin: 4px;
    position: relative;
    
    border: 3px solid var(--main-color);
    border-radius: 8px;
    
    background-color: var(--bg-color);

    color: var(--main-color);
    font-size: 24px;
    font-weight: 800;
    z-index: 2;
    transition: ease 200ms;
    overflow: hidden;
}

button:hover {
    color: #fff;
}

button::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: calc(var(--button-width) + 5px);
    z-index: -1;
    transition: ease 0.75s;
}

button:hover:after {
    content: "";
    width: calc(var(--button-width) + 5px);
    height: calc(var(--button-width) + 5px);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* HEADER */
.big.ass.title {
    padding-top: 25px;
    font-size: 80px;
    font-weight: 1000;
    color: #fff;
    margin-bottom: -1rem;
}

.small.ass.title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 1000;
    color: #fff;
    margin-bottom: 1rem;
}


.note {
    /* background-color: rgb(113, 113, 202); */
    color: var(--main-color);
    font-weight: 800;
    font-size: 24px;
    width: 60vw;
    margin: auto;
    margin-top: 50px;
}

/*Nasturtium*/
.Header.three {color: var(--Nasturtium-text-color)}
.row.lower .innercol.left {
    background-color: var(--Nasturtium-background-color) /**/;
    text-align: center;
    padding-bottom: 50px;
}
.Nasturtium {
    border: 2px solid var(--Nasturtium-main-color);
    color:var(--Nasturtium-main-color);
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
}
.Nasturtium:hover {
    transition: 0.5s;
    color:#ffffff;
}
/*Nasturtium One n Two*/
.Nasturtium:after {
    width: 120%;
    height: 0%;
    top: 50%;
    left: 50%;
    content: "";
    transform: translateX(-49%) translateY(-50%) rotate(25deg);
    position: absolute;
    background-color: var(--Nasturtium-main-color);
    z-index: -1;
    transition: ease 0.6s;
}
.Nasturtium.two:after {
    transform: translateX(-49%) translateY(-50%) rotate(-25deg);
}

.Nasturtium:not(.three, .four):hover:after {
    height: 200%;
}

/*Nasturtium Three*/
.Nasturtium.three:after{
    width: 0%;
    height: 0%;
    border-radius: 50%;
    transform: translateX(-49%) translateY(-50%);
    transition: ease 0.75s;
}
.Nasturtium.three:hover:after {
    width: 125%;
    height: 250%;
}

/*Nasturtium Four*/
.Nasturtium.four {
    background-color: var(--Nasturtium-main-color);
}
.Nasturtium.four:after{
    width: 125%;
    height: 250%;
    border-radius: 50%;
    transform: translateX(-49%) translateY(-50%);
    background-color: var(--Nasturtium-background-color);
    transition: ease 0.75s;
    z-index: -1;
}
.Nasturtium.four:hover:after {
    width: 0%;
    height: 0%;
}

/*Nasturtium All*/
.Nasturtium:active:after {
    transition: 0.01s;
    background-color: var(--Nasturtium-clicked-color);
    border-color: var(--Nasturtium-clicked-color);
}


/*IM HERE TO HELP THE GUY WHO IS WATCHING THIS BE ABLE TO FIND WHERE THE NEXT SECTION IS
IM BEING HELPFUL. YOU BETTER SAY THANK YOU TO ME, FUTURE ME*/
/*I RECEIVED, THANK YOU PAST ME, I'LL PASS THIS FOR OUR FUTURE US TOO*/
/*FUTURE U RECEIVED, THANKS, LUV U*/
/*CorsicanHellebore*/
.Header.four {color: var(--CorsicanHellebore-text-color)}
.row.lower .innercol.right {
    background-color: var(--CorsicanHellebore-background-color);
    text-align: center;
    padding-bottom: 50px;
}
.CorsicanHellebore {
    border: 2px solid var(--CorsicanHellebore-main-color);
    color: var(--CorsicanHellebore-main-color);
    font-size: 30px;
    font-weight: bold;
    transition: 0.2s;
}
.CorsicanHellebore:hover {
    color: #ffffff;
    background-color:var(--CorsicanHellebore-main-color);
}
.CorsicanHellebore:active {
    background-color:  var(--CorsicanHellebore-clicked-color);
    border-color: var(--CorsicanHellebore-clicked-color);
}

